@import "/{meta:susy}/susy";
@import "normalize.scss";



$desktop-width: 750px;
$white: #FFFFFF;

$susy: (
  columns: 12, 
  container: 750px,
  gutters: 0.25,
  global-box-sizing: border-box,
  );

.navbar, .navbar-content, .social-media, .nav-links {
  height: 123px
}
.navbar {
  background-color: #4b9884;
}
.navbar-content {
  @include container;
  margin: 0 auto;
  height: 123px;
}
.social-media {
  @include span(1 at 1 of 3);
  padding-top: 48px; 
  /*TODO: find a better way to vertically center this content!*/
  .twitter, .linkedin, .facebook {
    display: inline;
    margin: 5px;
  }
}
.logo {
  @include span(1 at 2 of 3);
  padding-top: 11px;
}
.nav-links {
  display: inline-block;
  @include span(1 last of 3);
  .alumni, .events {
    color: $white;
    margin-top: 52px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 17px;
    width: 100px;
    span {
      border-bottom: solid 1px $white;
      padding-bottom: 7px;
      border-top: solid 1px $white;
      padding-top: 7px;
    }
  }
}

// Index page - TODO: think about extracting this into its own file
.main {
  width: $desktop-width;
}

.mainBackground{
  background-color: #ece8ea;
  background-image: url("BG_img.png");
  background-repeat: repeat-y;
  height: 600px;
}
.footer{
  background-color: #484f68;
  min-height: 200px;
}
p{
  margin: 0;
}
#introToHD{
  @include span(1 at 1 of 3);
}
#photo1{
  @include span(1 at 2 of 3);

}
#photo2{
  @include span(1 at 3 of 3);
}

/*UNCOMMON CONVENTIONS*/
.tAc{
  text-align: center;
}
.m0a{
  margin:0 auto;
}
